<div class = "home-popup text-center container-fluid">
    <h1>Welcome to MeowMatch</h1>
    <h2>A membership site where cats can meet other cats.</h2>
</div>

<div class = "container home-signup-links">
    <div class = "row">
        <div class = col-md-6>
            <div class = "well">
                <h2 class = "text-center">Basic Membership</h2>
                <h4> Sign up for free and get access to basic features.</h4>
                <br>
                <%= link_to "Sign up for basic plan" , new_user_registration_path(plan: @basic_plan.id) , class: 'btn btn-primary btn-lg btn-block'%>
            </div>
        </div>
            
         <div class = col-md-6>
             <div class = "well">
                 <h2 class = "text-center">Pro Membership</h2>
                 <h4> Sign up for the pro account and get access to ALL of our features. </h4>
                 
                <%= link_to "Sign up for pro plan" , new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block'%>
            </div>
        </div>
            
    </div>
</div>